
body div .carousel-caption {

	right: 0%;
    left: 50%;
    top: 10%;
    width: 100%;
}
body div .carousel-caption .row{
	display: table;
	margin-left: -5%;
	width: 50%;
}

body div .carousel-caption .column{
	display:table-cell;
}
body div .carousel-caption .title{
	width: 70%;
}
body div .carousel-caption .vector{
	width: 10%;
}
body div .carousel-caption .column h3{
	width: 100%;
}
body div .carousel-caption .vector .responsive {
	width: 100%;
	height: auto;
	position: relative;
	margin: 0 0 70% -60%;
	float: left;
}
body div .carousel-caption h3{
	margin: 30px 0px;
	width: 50%;
	font-family: 'exo';
	text-align: left;
	font-size: 5vw;
}
body div .carousel-caption p{
	width: 42%;
	line-height: normal;
	font-family: 'Calibri';
	text-align: left;
	font-size: 2vw;
	font-weight: 300;
}
body #email-input{
	width: 50%;
	position:absolute;
	bottom:20%;
	right: 0;
	font-family: 'exo';
	padding-right: 10px;
}
body #email-input #form-group {
	padding-right: 10px
}
body #email-input textarea.form-control{
	background-color: transparent;
	color: #ffffff;
	border-width: 3px;
	border-radius: 0;
	border-color: rgba(60, 164, 219, 50);
	font-size: 2vw;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}
body .container #email-input textarea.form-control ::placeholder {
	color: #ffffff
}
.form-control::-webkit-input-placeholder {
	color: white;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
	color: white;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
	color: white;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
	color: white;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
	color: white;
}
body #email-input div{
	float: left;
	background-color: transparent;
}
body #email-input button {
	float: left;
	font-size: 2vw;
	border-width: 3px;
	border-color: rgba(60, 164, 219, 50);
	background-color: rgba(60, 164, 219, 50);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}
#wrapper {
	text-align: center;
	padding-bottom: 50px;
}

#wrapper .row {
	display: inline-block;
}

body div #deskripsi {
	display: inline-block;
	max-width: 80%;
	margin: 30px 0px;
}

body div #ourpartner {
	display: inline-block;
	width: 100%;
	padding: 50px 0;
}

body div #ourpartner p {
	text-align: center;
	font-size: 25px;
	padding: 50px 0 0 0;
	font-family: exo;
}

body div #deskripsi p {
	text-align: center;
	font-size: 21px;
}
body div #partner.row {
	margin: auto;
}

body div #contents.row {
	margin: 0px 50px;
}
body div .row .col-sm-4 div {
	margin: 0px 0px;
	padding: 10px 0;
}

body div .row #des1.col-sm-4 div h1 {
	font-size: 30px;
	padding: 15px 0;
	font-family: exo;
}

body div .row .col-sm-4 a {
	font-weight: 600;
	padding-top: 20px;
	display: block;
}

body div .row .col-sm-4 p {
	font-size: 18px;
	width: 75%;
}

body div .row .col-sm-4 img {
	height: 100px;
	padding: 0 0;
	
}

body div .row .col-sm-3 #index_partner img {
	
	padding: 0 0;
	width: auto;
	max-width: 100%;
}

body div .row .col-sm-3 #index_partner {
	text-align: center;
	padding: 10px
	
}


@media only screen and (max-width: 880px) and (min-width: 650px) {
	
	body #email-input-mobile {
		visibility: hidden;
	}
		

}

@media only screen and (max-width: 880px) {
	
	body #email-input {
		bottom: 15%;
	}
	body div .carousel-caption{
		top:0;
	}
	body div #deskripsi p{
		font-size: 19px;
	}
	body div .row .col-sm-4 div{
		    width: 100%;
		    text-align: center;
	}
	body div .row .col-sm-4 p{
		width: 100%;
	}
	
	
}
@media only screen and (max-width: 425px) {
	.carousel {
		margin-bottom: 0;
	}
	body #email-input {
		visibility: hidden;
	}
	body div .carousel-caption h3{
		margin: 10px 0;
	}
	body #email-input-mobile {
		width: 100%;
		position: relative;
		font-family: 'exo';
		visibility: visible;
		display: flex;
	}

	body .container #email-input-mobile textarea.form-control {
		background-color: transparent;
		color: rgba(60, 164, 219, 50);
		border-width: 3px;
		border-radius: 0;
		border-color: rgba(60, 164, 219, 50);
		font-size: 18px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}
		body .container #email-input textarea.form-control ::placeholder{
			color:#ffffff
		}

	body .container #email-input-mobile div {
		float: left;
		background-color: transparent;
		width: 100%;
	}

	body .container #email-input-mobile button {
		float: right;
		width: 30%;
		font-size: 18px;
		border-width: 3px;
		border-color: rgba(60, 164, 219, 50);
		background-color: rgba(60, 164, 219, 50);
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}
	.form-control::-webkit-input-placeholder {
		color: rgba(60, 164, 219, 50);
	}

	/* WebKit, Blink, Edge */
	.form-control:-moz-placeholder {
		color: rgba(60, 164, 219, 50);
	}

	/* Mozilla Firefox 4 to 18 */
	.form-control::-moz-placeholder {
		color: rgba(60, 164, 219, 50);
	}

	/* Mozilla Firefox 19+ */
	.form-control:-ms-input-placeholder {
		color: rgba(60, 164, 219, 50);
	}

	/* Internet Explorer 10-11 */
	.form-control::-ms-input-placeholder {
		color: rgba(60, 164, 219, 50);
	}
}
@media only screen and (max-width:1024px) and (min-width:880px) {
	body #email-input {
		bottom: 12%;
	}
	body div #deskripsi p {
		font-size: 18px;
	}

}